---
---
@import "minima";

/* Header background */
.site-header {
  background-color: #f0f6f7;
}

/* Website title and inject the logo */
.site-title {
  display: flex !important;
  align-items: center;
  font-weight: bold;
  color: #2b2b2b !important;
  font-size: 20px !important;
}

/* Adding the logo */ 
.site-title::before {
  content: "";
  display: inline-block;
  width: 50px; 
  height: 50px;
  background-image: url('/images/ceph-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px; 
}
